name: Test and Build

on: [push, pull_request]

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust:
          - 1.63.0 # MSRV
          - stable
          - nightly

    steps:
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v1.2.0
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-23.11
      - name: Add nginxWithStream to PATH
        run: |
          nix build .#nginx-with-stream -o nginx
          echo "$(pwd)/nginx/bin" >> $GITHUB_PATH
      - name: Fixes for MSRV
        if: matrix.rust == '1.63.0'
        run: |
          cargo update
          cargo update -p regex --precise 1.9.6
          cargo update -p time@0.3.39 --precise 0.3.20
          cargo update -p tokio --precise 1.38.1
          cargo update -p tokio-util --precise "0.7.11"
          cargo update -p idna_adapter --precise 1.1.0
          cargo update -p security-framework-sys --precise "2.11.1"
          cargo update -p ring --precise 0.17.12
          cargo update -p flate2 --precise 1.0.35
      - name: test ohttp-relay
        run: cargo test --verbose --all-features

  fmt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v1.2.0
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - run: rustup component add rustfmt --toolchain nightly-x86_64-unknown-linux-gnu
      - name: fmt check
        run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v1.2.0
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - run: rustup component add clippy
      - name: Clippy check
        run: cargo clippy -- -D warnings
